RewriteEngine On

RewriteBase /

RewriteRule ^connexion/ bootstrap.php?app=Log [QSA,L]

RewriteRule ^info/ bootstrap.php?app=Info [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.*)$ bootstrap.php?app=Frontend [QSA,L]